<div id="id01" class="container mt-5">
    <div class="main">
        <h2>Parent Componenet</h2>
    <form class="form-control">
     <!-- <form class="form-control" [formGroup]= "parentForm"> -->
      <div class="container">
        <div class="mb-3">
        <label for="name"><b>ID Product</b></label>
        <input type="text" class="form-control" placeholder="Id Product" name="idProduit" id="idProduit" required>
       <!-- <input type="text" class="form-control" formControlName="idProduct" placeholder="Id Product" name="idProduit" id="idProduit" required> -->
      </div>
        <div class="mb-3">
        <label for="pernom"><b>Product Name</b></label>
        <input type="text" class="form-control" placeholder="Name Product" name="nameProduct" id="nameProduct" required>
         <!-- <input type="text" class="form-control" formControlName="nameProduct" placeholder="Name Product" name="nameProduct" id="nameProduct" required> -->
        </div>
        <div class="mb-3">
          <label for="email"><b>Description</b></label>
          <input type="email" class="form-control" placeholder="Product Description" name="description" id="description" required>
           <!-- <input type="email" class="form-control" formControlName="description" placeholder="Product Description" name="description" id="description" required> -->
          </div>
        
        <div class="mb-3">         
        <input type="button" name="valider" class="btn btn-success btn-lg btn-block" value="Send">
        </div>
    
      </div>
    </form>
    </div>
  </div>
  <app-children [variable]="currentItem"></app-children>